* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* header */

.header {}


/* header */


/* container-lg */

.container-lg {
    height: 90px;
    background-color: #6C0041;
    /* position: fixed; */
}

#img-logo {
    float: left;
}

.row-row .row-p {}

.row-day .bg-trang {
    background-color: white;
    width: 50vh;
    height: 45px;
    position: absolute;
}

.card-card-body {
    top: 90px;
    width: 250px;
    height: 300px;
    background-color: white;
    border: 1px solid gray;
    position: absolute;
    right: 3px;
    z-index: 1;
}

.card-card-body-1 {
    top: 15px;
    width: 210px;
    height: 270px;
    position: absolute;
    right: 19px;
}


/* container-lg */


/* content */


/* .content {
    top: 91px;
    position: relative;
} */

.content-left {
    background-color: white;
    width: 260px;
    height: 968px;
    box-shadow: 0 0 10px gray;
    /*  */
    /* left: -160px;
    position: relative; */
    /*  */
    top: 0;
    position: fixed;
    z-index: -1;
}

.content-left-trong {
    width: 225px;
    height: 850px;
    top: 20px;
    left: 20px;
    position: relative;
}


/* content-right */

.content-right {
    width: 86%;
    height: 1450px;
    background-color: #F5F5F5;
    position: relative;
    left: 266px;
    top: 0;
    /* z-index: -1; */
}

.content-right-left-tren {
    height: auto;
    position: relative;
    width: 82%;
    left: 300px;
    top: -145vh;
}

.content-right-left-tren1 {
    width: 13.3%;
    height: 50px;
    left: 300px;
    top: -152vh;
    /* position: relative; */
    /* z-index: -1; */
}

.carcard-body {
    top: 49px;
    width: 210px;
    height: 236px;
    background-color: white;
    border: 1px solid gray;
    position: absolute;
    left: 10;
}

.card-card-body-2 {
    top: 15px;
    width: 170px;
    height: 220px;
    position: absolute;
    right: 19px;
}

.content-right-right-duoi {
    width: 1020px;
    height: 1300px;
    position: relative;
    left: 300px;
    top: 130px;
}

.content-right-right-duoi .row .col-view {
    width: 100px;
    height: 410px;
    background-color: white;
}

.content-right-right-duoi .row .col-view img {
    width: 325px;
    height: auto;
}

.btn-btn {
    background-color: orangered;
    width: 150px;
    height: 50px;
    top: -138px;
    position: relative;
    left: 175px;
}

.btn-btn1 {
    background-color: #444444;
    width: 130px;
    height: 50px;
    top: -138px;
    position: relative;
    left: 95px;
    font-size: 15px;
}

.btn-btn0 {
    background-color: orangered;
    width: 100px;
    height: 50px;
    top: -138px;
    position: relative;
    left: 91px;
}


/* content-right */


/* content */